@model CodeExplorers.Wheels.AppServer.Model.Product

@{
    ViewBag.Title = "ProductCreate";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>ProductCreate</h2>


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Product</h4>
        <hr />
        @Html.ValidationSummary(true)

        <div class="form-group">
            @Html.LabelFor(model => model.Code, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Code)
                @Html.ValidationMessageFor(model => model.Code)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Name, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Name)
                @Html.ValidationMessageFor(model => model.Name)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Price, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Price)
                @Html.ValidationMessageFor(model => model.Price)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Balance, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Balance)
                @Html.ValidationMessageFor(model => model.Balance)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Supplier, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Supplier)
                @Html.ValidationMessageFor(model => model.Supplier)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.IsEffective, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.IsEffective)
                @Html.ValidationMessageFor(model => model.IsEffective)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.BegineEffective, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.BegineEffective)
                @Html.ValidationMessageFor(model => model.BegineEffective)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.EndEffective, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.EndEffective)
                @Html.ValidationMessageFor(model => model.EndEffective)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
